
<body>
    <div class="container">
        <section>
            <div class="image-container">
                <img src="https://cdn.nhathuoclongchau.com.vn/unsafe/1920x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/1610x492_1_a17db7646c.jpg"
                    alt="Hình ảnh về cửa hàng thuốc">
            </div>
            <p>"Chào mừng bạn đến với Nhà thuốc Long Châu – nơi sức khỏe của bạn là sứ mệnh của chúng tôi!
                Với nhiều năm kinh nghiệm trong lĩnh vực dược phẩm, Nhà thuốc Long Châu cam kết mang đến cho khách hàng
                những sản phẩm chất lượng cao và đáng tin cậy. Chúng tôi tự hào là điểm đến tin cậy cho mọi nhu cầu chăm
                sóc sức khỏe của bạn, từ thuốc kê đơn, thuốc không kê đơn đến các sản phẩm bổ sung dinh dưỡng và chăm
                sóc sức khỏe.<br>Đội ngũ dược sĩ của chúng tôi luôn sẵn sàng tư vấn tận tình, giúp bạn lựa chọn những
                sản phẩm phù hợp
                nhất để cải thiện và bảo vệ sức khỏe cho bản thân và gia đình. Đến với Long Châu, bạn không chỉ mua
                thuốc mà còn nhận được sự quan tâm và hỗ trợ chuyên nghiệp. Hãy để chúng tôi đồng hành cùng bạn trên
                hành trình chăm sóc sức khỏe toàn diện!"</p>
        </section>
        <section>
            <h1>Pharmacity tập trung nâng cao chất lượng và dịch vụ chăm sóc sức khỏe</h1>
            <p>Đầu tư cải thiện và nâng cao chất lượng sức khỏe là mối quan tâm hàng đầu của mọi người. Theo đó,
                Pharmacity luôn hướng đến mục tiêu đảm bảo cung cấp thuốc chữa bệnh đầy đủ và kịp thời hỗ trợ các dịch
                vụ chăm sóc sức khỏe khách hàng.</p>
            <div class="image-container">
                <img src="https://data-service.pharmacity.io/pmc-upload-media/production/pmc-ecm-asm/posts/pharmacity-du-thuoc-2.webp"
                    alt="hình ảnh">
                <br>
                <figcaption>
                    <em>
                        <strong>
                            Pharmacity nâng cao chất lượng chăm sóc sức khỏe khách hàng
                        </strong>
                    </em>
                </figcaption>
                <div>
                    <p>
                        Ngày nay, sự phát triển của nền kinh tế xã hội dẫn đến nhu cầu về chăm sóc và bảo vệ sức khỏe
                        ngày
                        càng cao, vì vậy mọi người càng có ý thức hơn trong việc đầu tư kiến thức và kỹ năng chăm sóc
                        sức
                        khỏe mỗi ngày. Sức khỏe ngày càng trở nên là yếu tố được quan tâm hàng đầu của tất cả mọi người.
                    </p>
                </div>

                <div>
                    <b>Nâng cao kiến thức về sức khỏe </b>
                    <p>Là doanh nghiệp hàng đầu trong lĩnh vực bán lẻ dược phẩm, Pharmacity luôn không ngừng tăng cường
                        các
                        biện pháp nhằm nâng cấp hệ thống nhà thuốc đảm bảo cung ứng đầy đủ thuốc cùng các sản phẩm chăm
                        sóc
                        sức khỏe cho cộng đồng. Đồng thời, Pharmacity còn mở rộng triển khai các chương trình truyền
                        thông
                        với mục tiêu cập nhật những thông tin, kiến thức về chăm sóc sức khỏe, kỹ năng bảo vệ sức khỏe
                        đến
                        với mỗi người dân.</p>
                    <p>Theo đó, Pharmacity thường xuyên triển khai các chương trình truyền thông vì sức khỏe nhằm tăng
                        cường
                        khả năng tiếp cận thông tin của cộng đồng thông qua các kênh truyền thông phổ biến như Facebook,
                        Youtube, Tiktok và website Pharmacity. Hàng tháng, chuỗi nhà thuốc cũng định kỳ tổ chức các buổi
                        livestream cùng các bác sĩ chuyên khoa đầu ngành với đa dạng chủ đề chăm sóc sức khỏe được quan
                        tâm
                        hàng đầu như bệnh ung thư, thói quen tốt nâng cao sức khỏe, tìm hiểu về bệnh gan, phổi, tim
                        mạch…Những thông tin được cập nhật thường xuyên và hữu ích này sẽ hỗ trợ rất nhiều cho mọi người
                        trong việc được tiếp cận với các kiến thức chính thống, qua đó khách hàng của Pharmacity sẽ biết
                        nhiều hơn kiến thức về các bệnh lý thường gặp và giải pháp để nâng cao sức khỏe.</p>
                </div>

            </div>
            <div>
                <b>Đảm bảo cung cấp đầy đủ thuốc </b>
                <p>Với mục tiêu đảm bảo cung cấp đầy đủ và đa dạng các thuốc chữa bệnh, chăm sóc sức khỏe, Pharmacity
                    tập trung nâng cấp hệ thống cơ sở vật chất tại các nhà thuốc đáp ứng nhằm đáp ứng đầy đủ các quy
                    định của nhà nước cũng như tạo những trải nghiệm mua sắm tiện lợi và thoải mái nhất cho người dùng.
                    Theo đó, tùy theo quy định cụ thể của luật dược về việc bảo quản các loại thuốc đặc thù, Pharmacity
                    đảm bảo việc trang bị hệ thống máy lạnh được mở 24/24 trong nhà thuốc cũng như trang bị tủ mát
                    chuyên dụng cho các loại thuốc điều trị đặc thù. Hiện Pharmacity đã chính thức triển khai tại 7 nhà
                    thuốc ở khu vực thành phố Hồ Chí Minh và Hà Nội như sau:
                </p>
                <br>
                <ul>
                    <li style="text-align: justify;">
                        "191 Phùng Hưng, Phường Phúc La, Quận Hà Đông, Tp.Hà Nội"
                    </li>
                    <li style="text-align: justify;">
                        "191 Phùng Hưng, Phường Phúc La, Quận Hà Đông, Tp.Hà Nội"
                    </li>
                    <li style="text-align: justify;">
                        "191 Phùng Hưng, Phường Phúc La, Quận Hà Đông, Tp.Hà Nội"
                    </li>
                    <li style="text-align: justify;">
                        "72 + 74 Hàng Bông, Phường Hàng Bông, Quận Hoàn Kiếm, Hà Nội
                        "
                    </li>
                    <li style="text-align: justify;">
                        "13 – 15 Thảo Điền, Phường Thảo Điền, Quận 2
                        "
                    </li>
                    <li style="text-align: justify;">
                        "584 Nguyễn Chí Thanh, Phường 7, Quận 11, Thành phố Hồ Chí Minh
                        "
                    </li>
                    <li style="text-align: justify;">
                        "Cây xăng 52 Nơ Trang Long, Phường 14, Quận Bình Thạnh
                        "
                    </li>
                </ul>


            </div>
            <div class="image-container">
                <img
                    src="https://data-service.pharmacity.io/pmc-upload-media/production/pmc-ecm-asm/posts/pharmacity-du-thuoc-1.webp">
                <br>
                <figcaption>
                    <em>
                        <strong>
                            Pharmacity thường xuyên tổ chức các hoạt động đào tạo nội bộ cho đội ngũ Dược Sĩ

                        </strong>
                    </em>
                </figcaption>
            </div>
        </section>
        <section>
            <p>Không chỉ tập trung cung cấp đầy đủ và đa dạng thuốc chữa bệnh, nhà thuốc Pharmacity đồng thời chú trọng
                vào việc đào tạo lực lượng, đội ngũ Dược sĩ chất lượng cao. Theo đó, mỗi Dược sĩ khi gia nhập Pharmacity
                cần đảm bảo chất lượng đào tạo, thực hiện đủ chương trình đào tạo với 200 giờ đào tạo bắt buộc, 6 kỳ thi
                với 4 cấp độ. Hoạt động đào tạo nâng cao kiến thức chuyên môn của Dược sĩ được cập nhật liên tục để mỗi
                viên thuốc đến tay người sử dụng không chỉ là cam kết của Pharmacity về chất lượng sản phẩm, mà còn cần
                đáp ứng đúng nhu cầu điều trị và chăm sóc sức khỏe.</p>
            <br>
            <div class="image-container">
                <img
                    src="https://data-service.pharmacity.io/pmc-upload-media/production/pmc-ecm-asm/posts/nha-thuoc-du-thuoc-3.webp">

                <figcaption>
                    <em>
                        <strong>Pharmacity thường xuyên tổ chức các hoạt động đào tạo nội bộ cho đội ngũ Dược Sĩ
                        </strong>
                    </em>
                </figcaption>
            </div>

        </section>

        <section>
            <h2>Liên Hệ</h2>
            <p>Nếu bạn có bất kỳ câu hỏi nào, xin vui lòng liên hệ với chúng tôi:</p>
            <p>Điện thoại: 0123-456-789</p>
            <p>Địa chỉ: 123 Đường Sức Khỏe, Quận 1, Thành phố Hồ Chí Minh</p>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Trang Web Bán Thuốc. Bản quyền thuộc về chúng tôi.</p>
    </footer>

</body>

